.box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.boxList{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    width: 1030px;
}